<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>宏塑线缆有限公司-公司介绍</title>
		<link rel="icon" type="image/png" href="img/favicon.png" />
		<link rel="stylesheet" href="css/default.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/b_style.css" />
		<script type="text/javascript" src="js/jQuery.js"></script>
		<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js" ></script>
		<script type="text/javascript" src="js/style.js"></script>
	</head>
	<body>
		<div class="container">
			<!--top-->
			<div class="topWrap clearfix">
				<div class="top">
					<p>欢迎您访问宏塑线缆有限公司官方网站！Welcome!</p>
					<div class="top_R">
						<a href="#"><img src="img/top_tell.png">+86 15921400479</a><span>|</span>
						<a href="#"><img src="img/top_mell.png">aceliuchanghong@gmail.com</a>
					</div>
				</div>
			</div>
			<!--header-->
			<div id="showRight"></div>
			<div class="header">
				<a href="/" class="logo"><img src="img/logo.png"></a>
				<ul>
					<li><a href="/" class="cur">首页</a></li>
					<li><a href="/company_introduction">公司介绍</a></li>
					<li><a href="/news_information">新闻动态</a></li>
					<li><a href="/product_introduction">产品介绍</a></li>
					<li><a href="/case_introduction">案例介绍</a></li>
					<li><a href="/contact_Us">联系我们</a></li>
				</ul>
				<a href="javascript:;" class="menu"></a>
			</div>
			<div id="Nav">
				<ul>
					<li><a href="/">首页 </a></li>
					<li><a href="/company_introduction">公司介绍</a></li>
					<li><a href="/news_information">新闻动态</a></li>
					<li><a href="/product_introduction">产品介绍</a></li>
					<li><a href="/case_introduction">案例介绍</a></li>
					<li><a href="/contact_Us">联系我们</a></li>
				</ul>
			</div>
			<!--banner-->
			<div class="banner">
				<a href="#"><img src="temp/company_banner.jpg"></a>
			</div>
			<!--case_内容-->	
			<div class="company_introduction">
				<dl>
					<dt>
						<em>01</em>
						<p>COMPANY  PROFILE</p>
						<span>公司概况<img src="img/company_line.png"></span>
					</dt>
					<dd class="clearfix">
						<div class="company_L fl">
							<p class="p1">宏塑线缆有限公司成立于浙江省，是一家专业生产电缆、插头及塑料制品的领先制造商。我们拥有优秀的研发团队、高效的生产流程，以及贴心的客户服务，致力于为客户提供卓越品质的产品和解决方案</p>
							<p class="p2">Established in Zhejiang Province, HongSu Cable Co., Ltd. is a leading manufacturer specializing in the production of cables, plugs, and plastic products. We have an excellent R&D team, efficient production processes, and attentive customer service, dedicated to providing customers with outstanding quality products and solutions.</p>
						</div>
						<div class="company_R">
							<img src="temp/company_line1.png">
							<img src="img/company_yy.png" class="yy">
						</div>
					</dd>
					<dt class="second">
						<em>02</em>
						<p>COMPANY  DEVELOPMENT</p>
						<span>发展历史<img src="img/company_line.png"></span>
					</dt>
					<dd class="clearfix second">
						<div class="company_L fr">
							<p class="p1">自成立之初，宏塑线缆有限公司不断努力提升自身实力，凭借卓越的产品质量和服务，在电缆及相关行业崭露头角。我们积极拓展国内外市场，逐步建立起广泛的客户基础和良好的企业声誉。</p>
							<p class="p2">Since its inception, HongSu Cable Co., Ltd. has been continuously striving to enhance its strength, standing out in the cable and related industries with excellent product quality and services. We actively expand both domestic and international markets, gradually establishing a broad customer base and a good corporate reputation.</p>
						</div>
						<div class="company_R company_Ra">
							<img src="temp/company_line2.png">
							<img src="img/company_yy.png" class="yy yya">
						</div>
					</dd>
					<dt class="second">
						<em>03</em>
						<p>QUALIFICATION  OF  TARGET</p>
						<span>资质目标<img src="img/company_line.png"></span>
					</dt>
					<dd class="clearfix">
						<div class="company_L fl">
							<p class="p1">宏塑线缆有限公司严格遵循国际质量标准，在行业内已获得多项产品认证。我们坚定不移地追求创新与进步，致力于为客户提供满足不同需求的解决方案。公司的目标是成为全球电缆及相关领域值得信赖的合作伙伴，为客户创造持续的价值，同时积极承担企业社会责任，为可持续发展贡献力量。</p>
							<p class="p2">HongSu Cable Co., Ltd. strictly adheres to international quality standards and has obtained multiple product certifications in the industry. We are firmly committed to pursuing innovation and progress, striving to provide customers with solutions that meet various needs. Our goal is to become a trusted partner in the global cable and related fields, creating continuous value for customers while actively assuming corporate social responsibility and contributing to sustainable development.</p>
						</div>
						<div class="company_R">
							<img src="temp/company_img1.jpg">
							<img src="img/company_yy.png" class="yy">
						</div>
					</dd>
				</dl>
				
			</div>
			
			<!--footer-->
			<div class="footerWrap">
				<p>Copyright © HongSu Cable Co., Ltd.</p>
			</div>
		</div>	
	</body>

</html>
