<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>宏塑线缆有限公司</title>
	<link rel="icon" type="image/png" href="img/favicon.png" />
	<link rel="stylesheet" href="css/default.css" />
	<link rel="stylesheet" href="css/swiper.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/b_style.css" />
	<script type="text/javascript" src="js/jQuery.js"></script>
	<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js" ></script>
	<script type="text/javascript" src="js/swiper.min.js" ></script>
	<script type="text/javascript" src="js/style.js"></script>
</head>
<body>
<div class="container">
	<!--top-->
	<div class="topWrap clearfix">
		<div class="top">
			<p>欢迎您访问宏塑线缆有限公司官方网站！</p>
			<div class="top_R">
				<a href="#"><img src="img/top_tell.png">+86 15921400479</a><span>|</span>
				<a href="#"><img src="img/top_mell.png">aceliuchanghong@gmail.com</a>
			</div>
		</div>
	</div>
	<!--header-->
	<div id="showRight"></div>
	<div class="header">
		<a href="/" class="logo"><img src="img/logo.png"></a>
		<ul>
			<li><a href="/" class="cur">首页</a></li>
			<li><a href="/company_introduction">公司介绍</a></li>
			<li><a href="/news_information">新闻动态</a></li>
			<li><a href="/product_introduction">产品介绍</a></li>
			<li><a href="/case_introduction">案例介绍</a></li>
			<li><a href="/contact_Us">联系我们</a></li>
		</ul>
		<a href="javascript:;" class="menu"></a>
	</div>
	<div id="Nav">
		<ul>
			<li><a href="/">首页 </a></li>
			<li><a href="/company_introduction">公司介绍</a></li>
			<li><a href="/news_information">新闻动态</a></li>
			<li><a href="/product_introduction">产品介绍</a></li>
			<li><a href="/case_introduction">案例介绍</a></li>
			<li><a href="/contact_Us">联系我们</a></li>
		</ul>
	</div>
	<!--banner-->
	<div class="banner">
			<div>
			<div>
				<ul>
					<li>
						<a href="product_introduction">
							<img src="img/mybanner.png" />
						</a>
					</li>
				</ul>
			</div>
		</div>


		<div class="cases">
			<div class="title_T">
				<h2>欢迎!Welcome!</h2>
				<span>OUR VISION OF COMPANY</span>
			</div>
		</div>
		<div class="intro">
			<h2></h2>
			<p>
				我们是一家专业销售电线电缆、插头和连接器、塑料部件等产品的公司，<br> 致力于为客户提供高品质的产品和卓越的服务。我们的产品严格按照国际标准制造，在质量方面得到了客户的高度赞赏。<br> 我们的销售团队拥有丰富的行业经验，能够为客户提供专业的技术支持和售后服务。<br> 我们的目标是为客户提供全方位的解决方案，实现共赢合作。<br><br> 如果您有任何需求或问题，请随时联系我们，我们将竭诚为您服务！
			</p>
			<p>
				Welcome to our company's website! We are a professional company specializing in the sales of electrical wires and cables, plugs and connectors, plastic parts, and other products. We are committed to providing customers with high-quality products and excellent services! Our products are strictly manufactured in accordance with international standards and have been highly appreciated by customers in terms of quality. Our sales team has rich industry experience and can provide customers with professional technical support and after-sales service. Our goal is to provide customers with comprehensive solutions and achieve win-win cooperation.
				If you have any needs or questions, please feel free to contact us, we will be wholeheartedly at your service!
			</p>
			<span class="service"><a href="/company_introduction">了解更多信息</a></span>
		</div>







	</div>
	<div></div>
	<div class="testWrap">
		<div class="test">
			<ul>
				<li>
					<a href="javascript:void(0)">
						<img src="img/ind_img1.png">
						<p>产品丰富</p>

					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="img/ind_img2.png">
						<p>沟通快捷</p>

					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="img/ind_img3.png">
						<p>靠近港口</p>

					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="img/ind_img4.png">
						<p>精密安全</p>

					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="img/ind_img5.png">
						<p>开放热情</p>

					</a>
				</li>
			</ul>
		</div>
	</div>

</div>
<!--footer-->
<div class="footerWrap">
	<p>Copyright © HongSu Cable Co., Ltd.</p>
</div>
</div>
</body>

</html>
