<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>宏塑线缆有限公司-案例介绍</title>
	<link rel="icon" type="image/png" href="img/favicon.png" />
	<link rel="stylesheet" href="css/default.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/b_style.css" />
	<script type="text/javascript" src="js/jQuery.js"></script>
	<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js" ></script>
	<script type="text/javascript" src="js/style.js"></script>
</head>
<body>
<div class="container">
	<!--top-->
	<div class="topWrap clearfix">
		<div class="top">
			<p>欢迎您访问宏塑线缆有限公司官方网站！Welcome!</p>
			<div class="top_R">
				<a href="#"><img src="img/top_tell.png">+86 15921400479</a><span>|</span>
				<a href="#"><img src="img/top_mell.png">aceliuchanghong@gmail.com</a>
			</div>
		</div>
	</div>
	<!--header-->
	<!--header-->
	<div id="showRight"></div>
	<div class="header">
		<a href="/" class="logo"><img src="img/logo.png"></a>
		<ul>
			<li><a href="/" class="cur">首页</a></li>
			<li><a href="/company_introduction">公司介绍</a></li>
			<li><a href="/news_information">新闻动态</a></li>
			<li><a href="/product_introduction">产品介绍</a></li>
			<li><a href="/case_introduction">案例介绍</a></li>
			<li><a href="/contact_Us">联系我们</a></li>
		</ul>
		<a href="javascript:;" class="menu"></a>
	</div>
	<div id="Nav">
		<ul>
			<li><a href="/">首页 </a></li>
			<li><a href="/company_introduction">公司介绍</a></li>
			<li><a href="/news_information">新闻动态</a></li>
			<li><a href="/product_introduction">产品介绍</a></li>
			<li><a href="/case_introduction">案例介绍</a></li>
			<li><a href="/contact_Us">联系我们</a></li>
		</ul>
	</div>
	<!--banner-->
	<div class="banner">
		<a href="#"><img src="img/single core wire1.png"></a>
		<div class="case_bawz">
			<h2 style="color:black;">创新实用，物美价廉，是我们的驱动力，停止创新就是停止生命！</h2>
			<p style="color:black;">Innovation and practicality, high quality and low price are our driving force. To stop innovation is to stop life!</p>
		</div>
	</div>
	<!--case_内容-->
	<div class="case_introduction">
		<h2 class="tit_h">What we do / 我们能为您做什么？</h2>
		<p class="tit_p">提供定制化服务,根据需求制作符合要求的组件,我们致力于提供质量和价格的双重保障。宏塑经过多年的发展，具备成熟的技术、强大的生产团队、丰富的实施经验以及全方位的解决方案，为您提供专业、全面的购买服务。</p>
		<p style="color:black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;we are committed to delivering both quality and affordability.</p>
		<ul>
			<!--1-3-->
			<li>
				<a href="img/european wire plug2.jpg" target="_blank">
					<img src="img/european wire plug2.jpg">
					<h3>宏塑线缆  全新定制制作-New custom made</h3>
					<p>欧式电线插头 european wire plug</p>
				</a>
			</li>
			<li>
				<a href="img/uk wire plug2.jpg" target="_blank">
					<img src="img/uk wire plug2.jpg">
					<h3>宏塑线缆  全新定制制作-New custom made</h3>
					<p>英式电线插头 uk wire plug</p>
				</a>
			</li>
			<li>
				<a href="img/brazilian wire plug.jpg" target="_blank">
					<img src="img/brazilian wire plug.jpg">
					<h3>宏塑线缆  全新定制制作-New custom made</h3>
					<p>巴西电线插头 brazilian wire plug</p>
				</a>
			</li>
			<!--4-6-->
			<li>
				<a href="img/usua1.jpg" target="_blank">
					<img src="img/usua1.jpg">
					<h3>宏塑线缆  全新定制制作-New custom made</h3>
					<p>标准打包 standard packaging</p>
				</a>
			</li>
			<li>
				<a href="img/single core wire.jpg" target="_blank">
					<img src="img/single core wire.jpg">
					<h3>宏塑线缆  全新定制制作-New custom made</h3>
					<p>单芯各种标准电线 single core wire</p>
				</a>
			</li>
			<li>
				<a href="img/usua6.jpg" target="_blank">
					<img src="img/usua6.jpg">
					<h3>宏塑线缆  全新定制制作-New custom made</h3>
					<p>标准打包 standard packaging</p>
				</a>
			</li>
			<!--7-9-->
			<li>
				<a href="img/usua5.jpg" target="_blank">
					<img src="img/usua5.jpg">
					<h3>宏塑线缆  全新定制制作-New custom made</h3>
					<p>多芯各种标准电线 Multi-core core wire</p>
				</a>
			</li>
			<li>
				<a href="img/usua.jpg" target="_blank">
					<img src="img/usua.jpg">
					<h3>宏塑线缆  全新定制制作-New custom made</h3>
					<p>多芯各种标准电线 Multi-core core wire</p>
				</a>
			</li>
			<li>
				<a href="img/usua3.jpg" target="_blank">
					<img src="img/usua3.jpg">
					<h3>宏塑线缆  全新定制制作-New custom made</h3>
					<p>多芯各种标准电线 Multi-core core wire</p>
				</a>
			</li>
		</ul>
		<!--	<div class="page">
                <a href="#"><font><</font></a>
                <a href="#" class="cur">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#"><font>></font></a>
            </div>-->
	</div>

	<!--footer-->
	<div class="footerWrap">
		<p>Copyright © HongSu Cable Co., Ltd.</p>
	</div>
</div>
</body>
</html>
